/*
font-family: 'Roboto', sans-serif;
font-family: 'Yaldevi', sans-serif;
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Yaldevi", sans-serif;
  font-size: 20px;
}
.container {
  margin: 0 auto;
  max-width: 1200px;
}
.icon__hh {
  padding: 10px 0;
  background-color: #e9e9e9;
  margin-bottom: 5px;
}
.icon__sup {
  font-family: "Roboto", sans-serif;
  font-size: 40px;
  cursor: pointer;
}
.icon__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.icon__hh img {
  width: 135px;
  height: 85px;
}
.about__me {
  display: flex;
}
.about__info {
  margin-left: 60px;
  margin-top: 50px;
}
.about__sup {
  font-family: "Roboto", sans-serif;
  font-size: 45px;
  margin-bottom: 10px;
}
.about__sub {
  margin-bottom: 30px;
}
.about__tel {
  text-decoration: none;
  color: #1b1b1b;
  transition: 0.2s linear color;
}
.about__tel:hover {
  color: rgb(146, 129, 129);
}
.about__email {
  margin-top: 5px;
  cursor: pointer;
}
.about__portfolio {
  margin-top: 10px;
}
.photo img {
  width: 270px;
  height: 340px;
}
.place {
  margin-top: 50px;
  line-height: 1.5;
}
.position {
  display: flex;
  justify-content: space-between;
}
.wage {
  font-weight: bold;
  font-size: 35px;
}
.position__supWage {
  color: #1b1b1b;
  margin-top: 80px;
  font-size: 40px;
  border-bottom: 1px solid #a8a6a6;
  padding-bottom: 5px;
  margin-bottom: 20px;
  padding-left: 10px;
}
.position__sup {
  margin-bottom: 15px;
}
.position__sub {
  margin-bottom: 5px;
}
.position__graphic {
  margin-bottom: 5px;
}
.experience {
  margin-top: 80px;
  padding-bottom: 5px;
  border-bottom: 1px solid #a8a6a6;
}
.experience__info {
  display: flex;
}
.experience__date {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.534);
  margin-right: 40px;
}
.experience__sup {
  text-decoration: none;
  color: #000;
  transition: 0.2s linear color;
}
.experience__sup:hover {
  color: rgb(146, 129, 129);
}
.experience__position {
  margin-top: 30px;
  margin-bottom: 10px;
}
.dash {
  margin-top: 10px;
}
ul.dash {
  list-style: none;
  margin-left: 0;
  padding-left: 1em;
}
ul.dash > li:before {
  display: inline-block;
  content: "-";
  width: 1em;
  margin-left: -1em;
}
.experience__tasks {
  margin-top: 5px;
}
.skills {
  display: flex;
}
.skills img {
  margin-right: 10px;
}
/*
<div class="language">
              <h2 class="language__sup sup">Языки мира:</h2>
              <p class="language__sub sub">(Русский)(Английский)(Таджикский)</p>
            </div>
            <div class="projects">
              <div class="projects__sup sup">Мои проекты:</div>
              <div class="project__sub sub">
                Адаптивный сайт "GoGo" или "Mogo":
                <a
                  href="https://mmii0220.github.io/GoGo/"
                  class="project__link"
                  target="_blank"
                  title="lucium"
                  >GoGo</a
                >
              </div>
              <div class="project__sub sub">
                Много-странично-адаптивный сайт "Deliver":
                <ul>
                  <li>
                    <a
                      href="https://mmii0220.github.io/deliver/"
                      class="project__link"
                      target="_blank"
                      title="deliver"
                      >Deliver</a
                    >
                  </li>
                  <li>
                    <a
                      href="https://mmii0220.github.io/deliver2/"
                      class="project__link"
                      target="_blank"
                      title="deliver"
                      >Deliver</a
                    >
                  </li>
                </ul>
              </div>
            </div>*/
/*
<div class="icons">
              <h2 class="header__sup sup">Мои навыки:</h2>
              <div class="skill">
                <div class="tr">
                  <img src="./images/-Html5-df6e08.svg" alt="HTML5" />
                </div>
              </div>
              <div class="skill">
                <div class="tr">
                  <img src="./images/-CSS3-df6e08.svg" alt="CSS3" />
                </div>
              </div>
              <div class="skill">
                <div class="tr">
                  <img src="./images/-Javascript-df6e08.svg" alt="javascript" />
                </div>
              </div>
              <div class="skill">
                <div class="tr">
                  <img src="./images/-SASS-df6e08 (1).svg" alt="sass" />
                </div>
              </div>
              <div class="skill">
                <div class="tr">
                  <img src="./images/-SCSS-df6e08.svg" alt="scss" />
                </div>
              </div>
              <div class="skill">
                <div class="tr">
                  <img src="./images/-BEM-df6e08.svg" alt="bem" />
                </div>
              </div>
              <div class="skill">
                <div class="tr">
                  <img src="./images/-Git-df6e08.svg" alt="git" />
                </div>
              </div>
              <div class="skill">
                <div class="tr">
                  <img src="./images/-GitHub-df6e08.svg" alt="github" />
                </div>
              </div>
              <div class="skill">
                <div class="tr">
                  <img src="./images/-Blender-df6e08.svg" alt="blender" />
                </div>
              </div>
            </div>
            */
