/*
font-family: 'Roboto', sans-serif;
font-family: 'Yaldevi', sans-serif;
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    font-family: "Yaldevi", sans-serif;
    font-size: 20px;
    width: 100%;
  }
  .container {
    margin: 0 auto;
    max-width: 1200px;
  }
  .icon__hh {
    padding: 10px 0;
    background-color: #e9e9e9;
    margin-bottom: 5px;
  }
  .icon__sup {
    font-family: "Roboto", sans-serif;
    font-size: 40px;
    cursor: pointer;
  }
  .icon__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .icon__hh img {
    width: 135px;
    height: 85px;
  }
  .about__me {
    display: flex;
    max-width: 100%;
  }
  .about__info {
    margin-left: 60px;
    margin-top: 50px;
  }
  .about__sup {
    font-family: "Roboto", sans-serif;
    font-size: 45px;
    margin-bottom: 10px;
  }
  .about__sub {
    margin-bottom: 30px;
  }
  .about__sub img {
    width: 90px;
    height: 90px;
  }
  .about__tel {
    text-decoration: none;
    color: #1b1b1b;
    transition: 0.2s linear color;
  }
  .about__tel:hover {
    color: rgb(146, 129, 129);
  }
  .date {
    display: none;
  }
  .about__email {
    margin-top: 5px;
    cursor: pointer;
  }
  .about__portfolio {
    margin-top: 10px;
  }
  .photo img {
    width: 270px;
    height: 340px;
  }
  .place {
    margin-top: 50px;
    line-height: 1.5;
  }
  .position {
    display: flex;
    justify-content: space-between;
  }
  .wage {
    display: flex;
    font-weight: bold;
    font-size: 35px;
  }
  .wage__text {
    display: none;
  }
  .position__supWage {
    color: #1b1b1b;
    margin-top: 80px;
    font-size: 40px;
    border-bottom: 1px solid #a8a6a6;
    padding-bottom: 5px;
    margin-bottom: 20px;
    padding-left: 10px;
  }
  .position__sup {
    margin-bottom: 15px;
  }
  .position__sub {
    margin-bottom: 5px;
  }
  .position__graphic {
    margin-bottom: 5px;
  }
  .experience {
    margin-top: 80px;
    padding-bottom: 5px;
    border-bottom: 1px solid #a8a6a6;
  }
  .experience__info {
    display: flex;
  }
  .experience__date {
    font-size: 20px;
    color: rgba(0, 0, 0, 0.534);
    margin-right: 40px;
  }
  .experience__wage {
    display: none;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.534);
    margin-right: 40px;
  }
  .experience__sup {
    text-decoration: none;
    color: #000;
    transition: 0.2s linear color;
  }
  .experience__sup:hover {
    color: rgb(146, 129, 129);
  }
  .experience__position {
    margin-top: 30px;
    margin-bottom: 10px;
  }
  .dash {
    margin-top: 10px;
  }
  ul.dash {
    list-style: none;
    margin-left: 0;
    padding-left: 1em;
  }
  ul.dash > li:before {
    display: inline-block;
    content: "-";
    width: 1em;
    margin-left: -1em;
  }
  .experience__tasks {
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .project__space {
    margin-left: 40px;
    margin-top: 5px;
  }
  .project__space li {
    margin-bottom: 5px;
  }
  .my__project {
    text-decoration: none;
    color: #1b1b1b;
    padding-left: 10px;
    transition: 0.2s linear color;
  }
  .my__project:hover {
    color: rgb(240, 172, 94);
  }
  .skills {
    display: flex;
    flex-wrap: wrap;
  }
  .skills img {
    margin-right: 10px;
  }
  
  @media (max-width: 1190px) {
    .section {
      padding-left: 10px;
    }
  }
  @media (max-width: 835px) {
    .skills {
      display: flex;
      flex-direction: column;
    }
    .experience__info {
      margin-bottom: 25px;
    }
    .about__sub {
      margin-bottom: 8px;
    }
    .about__sup {
      font-size: 40px;
    }
    .position__supWage {
      font-size: 34px;
    }
    .sup {
      font-size: 26px;
    }
    .sub {
      font-size: 19px;
    }
    .wage {
      font-size: 32px;
    }
    .experience__position {
      font-size: 26px;
    }
    .experience__tasks {
      margin-top: 5px;
      font-size: 19px;
    }
    .experience__company {
      font-size: 19px;
    }
  }
  @media (max-width: 700px) {
    .experience__wage {
      display: block;
    }
    .icon__hh img {
      width: 122px;
      height: 75px;
    }
    .sub {
      font-size: 16px;
    }
    .wage {
      font-size: 29px;
    }
    .position__supWage {
      font-size: 33px;
    }
    .sup {
      font-size: 24px;
    }
    .experience__position {
      font-size: 24px;
    }
    .experience__tasks {
      font-size: 17px;
    }
    .experience__date {
      font-size: 18px;
    }
  }
  @media (max-width: 640px) {
    .experience__wage {
      display: block;
    }
    .icon__sup {
      padding-left: 5px;
    }
    .about__me {
      display: block;
      max-width: 100%;
    }
    .about__email {
      margin-top: 11px;
      cursor: pointer;
    }
    .place {
      margin-top: 34px;
      line-height: 1.5;
    }
    .position {
      display: block;
    }
    .wage {
      margin-top: 25px;
      align-items: center;
    }
    .wage__text {
      display: block;
    }
    .photo {
      text-align: center;
    }
    .experience__date {
      margin-right: 13px;
    }
  }
  @media (max-width: 400px) {
    .experience__wage {
      display: block;
    }
    .icon__hh img {
      width: 116px;
      height: 69px;
    }
    .position__supWage {
      font-size: 25px;
    }
    .sup {
      font-size: 20px;
    }
    .sub {
      font-size: 15px;
    }
    .wage {
      font-size: 27px;
    }
    .experience__position {
      font-size: 20px;
    }
    .experience__info {
      display: block;
    }
    .experience__company {
      font-size: 16px;
      margin-top: 5px;
    }
    .experience__texts {
      margin-top: 5px;
    }
    .experience__tasks {
      margin-bottom: 5px;
    }
    .project__space {
      font-size: 18px;
    }
  }
  