/*
font-family: 'Oswald', sans-serif;
font-family: 'Yaldevi', sans-serif;
*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  max-width: 100%;
}
.header {
  background-color: rgb(176, 235, 230);
  height: 100vh;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
.content {
  position: relative;
  top: 300px;
}
.header__aboutMe {
  display: flex;
  align-items: center;
}
.about__sub {
  font-family: "Yaldevi", sans-serif;
}
.about__sup {
  font-size: 22px;
  font-family: "Oswald", sans-serif;
  width: 150px;
}
.about__sub {
  margin-left: 10px;
  font-family: "Yaldevi", sans-serif;
  font-size: 18px;
}
.header__sup {
  font-family: "Oswald", sans-serif;
  font-size: 22px;
}
.asd {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 257px;
}
.icons {
  display: flex;
  margin-top: 30px;
}
.skill {
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 36px;
  margin-top: 5px;
}
.skill img {
  margin-bottom: -4px;
}
.tr img {
  z-index: 99;
}
.skill .tr {
  transition: 0.3s linear all;
}
.skill .tr:hover {
  background: linear-gradient(#7c7931, #dbd958);
  box-shadow: 0 0 1px 0;
  opacity: 1;
  z-index: 100;
}
.skill:hover img {
  opacity: 0.7;
  transition: 0.3s linear all;
}
.language {
  display: flex;
  align-items: center;
}
.language__sup {
  font-family: "Oswald", sans-serif;
  font-size: 22px;
}
.language__sub {
  margin-left: 10px;
  font-family: "Yaldevi", sans-serif;
  font-size: 18px;
}
.projects__sup {
  margin-top: 20px;
  font-family: "Oswald", sans-serif;
  font-size: 22px;
  font-weight: bold;
}
.project__sub {
  margin-top: 5px;
  font-family: "Yaldevi", sans-serif;
  font-size: 18px;
}
.project__link {
  text-decoration: none;
  color: #1b1b1b;
  font-weight: bold;
  transition: 0.2s linear color;
}
.project__link:hover {
  color: rgb(253, 164, 31);
  font-weight: bold;
}
li {
  margin-top: 10px;
  margin-left: 50px;
}
img {
  max-width: 100%;
}

/*Media*/
@media (max-width: 1024px) {
  .asd {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 209px;
  }
  .content {
    position: relative;
    top: 228px;
  }
  .content {
    padding: 20px;
  }
}
@media (max-width: 820px) {
  .sub {
    font-size: 15px;
  }
  .sup {
    font-size: 20px;
  }
  .skill img {
    margin-bottom: -3px;
  }
  .content {
    margin: 10px;
  }
  .asd {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 173px;
  }
  .content {
    position: relative;
    top: 198px;
  }
  .header__sup {
    width: 200px;
  }
  .about__sup {
    width: 231px;
  }
  .project__sub {
    margin-top: 13px;
  }
}
@media (max-width: 375px) {
  .header {
    background-color: rgb(176, 235, 230);
    height: 224vh;
  }
  .header__aboutMe {
    display: flex;
    align-items: baseline;
  }
  .asd {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 76px;
  }
  .content {
    position: relative;
    top: 78px;
  }
  .sup {
    font-size: 16px;
  }
  .sub {
    font-size: 13px;
  }
  .about__sup {
    width: 284px;
  }
  .header__aboutMe {
    display: flex;
    align-items: none;
  }
  .icons {
    display: block;
    margin-top: 30px;
  }
  .tr img {
    width: 100%;
  }
  .skill {
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 32px;
    margin-top: 5px;
  }
  .language {
    align-items: baseline;
  }
  .language__sup {
    width: 103px;
  }
}
